body {
  background: blanchedalmond;
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.a {
  flex-grow: 1;
  border: 3px solid black;
}

.b {
  flex-grow: 1;
  min-height: 65vh;
  border: 3px solid black;
}

.c {
  flex-grow: 1;
  border: 3px solid black;
}

@media (min-width: 600px) {

.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.a {
  width: 100vw;
}

.b {
  min-width: 75vw;
}

}
